/a2048/**
/battlecity/**
/bomberman/**
/chess/**
/collapse/**
/excitebike/**
/hex/**
/kata/**
/loderunner/**
/minesweeper/**
/moebius/**
/rubicscube/**
/a2048-extreme/**
/fifteen/**
/football/**
/pong/**
/spacerace/**
/puzzlebox/**
/startandjump/**
/quake2d/**
/snake/**
/iCanCode/**
/mailshooter/**
/snake-battle/**
/sudoku/**
/quadro/**
/tetris/**
/lunolet/**
/expansion/**
/reversi/**
/sokoban/**
/icancode/**
/snakebattle/**
/lemonade/**
/engine/**
/engine/target/**
/engine/.idea/**
/engine/*.iml
/sample/target/**
/sample/.idea/**
/sample/libs/**
/sample/*.iml
/sample-text/target/**
/sample-text/.idea/**
/sample-text/libs/**
/sample-text/*.iml
/local-ws-game-server-jar.xml
/**/webapp/resources/user/*.zip
/*.bat
/*.iml